@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-rgb: 109, 25, 205;
  --color-secondary-rgb: 47, 38, 208;
  --color-accent-rgb: 24, 114, 200;
  --background-color-rgb: 24, 23, 38;
  --color-primary: rgba(var(--color-primary-rgb), .8);
  --color-secondary: rgba(var(--color-secondary-rgb), .8);
  --color-accent: rgba(var(--color-accent-rgb), .8);
  --background-color: rgb(var(--color-background-rgb));
}

.primary {
  color: var(--color-primary);
}

.secondary {
  color: var(--color-secondary);
}

.accent {
  color: var(--color-accent);
}

.primary-b {
  border-color: var(--color-primary);
}

.secondary-b {
  border-color: var(--color-secondary);
}

.accent-b {
  border-color: var(--color-accent);
}

.primary-bg {
  background-color: var(--color-primary);
}

.secondary-bg {
  background-color: var(--color-secondary);
}

.accent-bg {
  background-color: var(--color-accent);
}

::selection,
::-moz-selection {
  background-color: var(--color-secondary) !important;
}

a img {
  @apply cursor-pointer select-none rounded hover:ring ring-gray-600/25 mix-blend-lighten;
}

#img-box {
  background-color: #090b0e66;
  @apply fixed flex inset-0 z-[99];
}
#img-box::before {
  content: "close";
  @apply absolute bottom-4 right-4 text-white text-lg cursor-pointer select-none;
}
#img-box img {
  @apply w-screen h-screen object-contain rounded-lg shadow-lg;
}

.exlink {
  text-decoration: underline 1px var(--color-accent);
  padding-right: 16px;
  @apply text-nowrap;
}

.exlink::after {
  position: absolute;
  content: "⇲";
  font-size: .8em;
  transform: rotate(-90deg);
  padding-left: 2px;
}

.exlink:hover {
  opacity: 75%;
}

.tp {
  @apply cursor-pointer underline underline-offset-4 decoration-dotted decoration-blue-700;
}

.tp:active,
.tp:hover {
  @apply decoration-blue-300;
}

#tp-container {
  background: #140527;
}

body {
  font-family: 'Roboto Flex', sans-serif;
  background: #090b0e;
  line-height: 1.75;
  overflow-x: hidden;
}

.background-grad {
  background: linear-gradient(
    to bottom,
    #090b0e 70%,
    #11161d 80%,
    #161d26 90%
  );
}

#main {
  overflow-y: hidden;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#main::before {
  content: 'Loading...';
  font-size: xx-large;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-top: 5%;
  z-index: 90;
}

#main.show {
  height: auto;
  visibility: visible;
  opacity: 1;
}

#main.show::before {
  visibility: hidden;
}

.text-logo {
  font-family: "Sansation", sans-serif;
  font-weight: 700;
  font-style: normal;
}

table {
  border-radius: 1rem;
}

.text-gradient {
  background: linear-gradient(60deg, var(--color-primary), var(--color-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bright {
  filter: brightness(1.5);
}

.content-card {
  background: linear-gradient(-20deg, #090b0e 60%, #121922) padding-box,
              linear-gradient(#1a2330 45%, #212b3b) border-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  position: relative;
}
.content-card.no-grad {
  background: linear-gradient(-10deg, #090b0e, #090b0e) padding-box,
              linear-gradient(#1a2330 45%, #212b3b) border-box;
}
.content-card::before {
  height: 100%;
  width: 100%;
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1000'%20height='1000'%3E%3Cfilter%20id='noise'%3E%3CfeTurbulence%20type='fractalNoise'%20baseFrequency='.53'%20numOctaves='2'%20stitchTiles='stitch'/%3E%3C/filter%3E%3Crect%20width='100%25'%20height='100%25'%20filter='url(%23noise)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.075;
  mix-blend-mode: luminosity;
  filter: contrast(200%);
  z-index: 5;
}

hr {
  z-index: 5;
  position: relative;
}

.hr-gradient {
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-primary), var(--color-secondary), transparent);
  border: none;
}

.section h2,
.section h3 {
  color: var(--color-primary);
}

.list-disc li::marker {
  color: var(--color-accent);
}

.context-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  @apply p-2 md:p-3;
}

.menu-button {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  background-color: rgba(13, 13, 18, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  opacity: 0.6;
}

.menu-button:hover {
  background-color: rgba(255, 255, 255, 0.025);
  border-color: var(--color-primary);
}

.menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #e0e0e0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: transform 0.3s ease;
}

.menu-button:hover .menu-icon {
  opacity: 0.7;
}

.menu-icon-open {
  opacity: 0.7;
}

.menu-list-container {
  position: fixed;
  top: 4rem;
  right: .5rem;
  width: 15rem;
  max-height: 90vh;
  background-color: rgba(13, 13, 18, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  overflow-y: scroll;
}

.menu-list-container.open {
  visibility: visible;
  opacity: 1;
}

.menu-list-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-list-container li a {
  display: block;
  padding: 0.75rem 1rem;
  color: #e0e0e0;
  text-decoration: none;
  border-radius: 0.25rem;
  border: 1px transparent solid;
  transition: background-color 0.2s ease;
}

.menu-list-container li a:hover {
  background-color: rgba(255, 255, 255, 0.025);
  border-color: var(--color-primary);
}

.scale2x {
  transform: scale(3);
}
.scale2x:hover {
  transform: scale(3.5);
  transition: all;
  transition-duration: 300;
  transition-timing-function: ease-in-out;
}